/* Increase the font size of h2 by 100% */
h2, h3 {
    font-size: 2.0em; /* 100% larger than the default size */
}
/* Increase the font size of p by 50% */
p {
    font-size: 1.5em; /* 50% larger than the default size */
}


body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6; 
    font-weight: bold;
}

/* Ensure the body and html take up the full height */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Make the content-wrapper take up all available space */
.content-wrapper {
    flex: 1;
}

/* Header styles */
/* Removed background image styles from the header */
header {
    background-color: #343a40; /* Dark background color */
    color: gold;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5rem 0;
}
footer {
    background-color:gold;
    color: white;
    padding: 10px 0;
}

.nav-link {color: gold;
}

.content-wrapper {color: gold;
}

